.main {
    background-color: black;
    color: white;
    border: 4px dashed cyan;
    position: relative;
    text-decoration: none;
    padding: 16px 32px;
    overflow: hidden;
}

.main h3{
    color:red;
}
