.dot_holder {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

    .dot_holder input {
        opacity: 0;
        width: 0;
        height: 0;
    }


.dot_shifter {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #0A0A0A;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 99pc;
}

    .dot_shifter:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: #757575;
        -webkit-transition: .4s;
        transition: .4s;
        border-radius: 99pc;
    }

.checkbox_shift:checked + .dot_shifter {
    background-color: #2196F3;
}

.checkbox_shift:focus + .dot_shifter {
    box-shadow: 0 0 1px #2196F;
}

.checkbox_shift:checked + .dot_shifter:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}


h1 {
    color: #bf0603;
}


h2 {
    color: #F86624;
}


a {
    overflow: hidden;
    border: 3px solid red;
    padding: 5px;
    margin: 5px;
    background-color: #242423;
    text-decoration: none;
    color: #ee6c4d;
    font-size: medium;
    box-sizing: border-box;
}

    a:hover {
        background-color: #333533;
        color: #f94144;
        text-decoration: none;
        border: 3px solid #f8961e;
    }

body {
    background-color: #C2C2FF;
}